<!DOCTYPE html>
<html>
<head>
<title>ClickBazar Home  </title>
<link rel="icon" href="/images/favicon.gif" type="image/gif" sizes="16x16">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/css/stylee.css">
<link rel="stylesheet" type="text/css" href="/css/sidebar.css">
<script src="/js/sidebar.js"></script>


<h1 align="center">Click Bazar</h1>



</head>
<body>


<div class="menuBar">
  <body>



<style>

table {
    align-content: center;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 75%;
    background-color: silver;
}

td, th {
    border: 2px solid #dddddd;
    text-align: center;

    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    border-right:1px solid #bbb;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: green;
}

li.dropdown {
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: #7bc1ec;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: silver; }

.dropdown:hover .dropdown-content {
    display: block;
}



li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: green;
}

    
                
        
</style>





    <ul>
     <li><a class="active" href="https://click-bazaar-shamahoque.c9users.io">Home</a></li>
     <li><a href="#">Shopping</a></li>
     <li class="dropdown"><a href="#" class="dropbtn">Demo </a>
       <div class="dropdown-content">
         <a href="#">Demo 1</a>
         <a href="#">Demo 2</a>
         <a href="#">Demo 3</a>
         <a href="#">Demo 4</a>
        <a href="#">Demo 5</a>
       </div>  

       <li style="float:right"><a href="#">Contact Us</a></li>
       <li><a href="#">Privacy & policy</a></li>
       <li style="float:right"><a href="#about">About us</a></li>
       <li><a href="add_product">Add items</a></li>
       <li><a href="view_list">List View</a></li>
       <li style="float:right"><a href="/auth/signout">Sign Up</a></li>
    </ul>
  </body>
</div>

<div class="btn-group">
  <br>
  <span></span><p align="center">Looking for something ? </p></span>
  <button>Rice</button>
  <button>Bread</button>
  <button>Frozen Foods</button>
  <button>Light Foods</button>
  <button>Oils,Sauces</button>
  <button>Snacks </button>
  <button>Drinks</button>
  <button>Demo</button>
 


  <br>

</div>




  <br>  <br>  <br>



<div class="slideshow-container">

    <div class="mySlides fade">
       <div class="numbertext">1 / 4</div>
       <img src="/images/1.jpg" style="width:100%">
       <div class="text">5% off</div>
    </div>


    <div class="mySlides fade">
  <div class="numbertext">2 / 4</div>
  <img src="/images/2.jpg" style="width:100%">
  <div class="text">15% off</div>
    </div>

    <div class="mySlides fade">
  <div class="numbertext">3 / 4</div>
  <img src="/images/3.jpg" style="width:100%">
  <div class="text">7% off</div>
    </div>

    <div class="mySlides fade">
  <div class="numbertext">4 / 4</div>
  <img src="/images/4.jpg" style="width:100%">
  <div class="text">20% off</div>
    </div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>


<script src="/js/Script.js"></script>

<div id="footer">
  <br>
  <br>
   <p align="center";> (c) Copyright 2017, All Rights Reserved || Anup || </p>
  </br>
  </br>
</div> 

</body>
</html> 
